<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.swust.qd.scms.mapper.ScmsCompanyMapper">

    <resultMap id="BaseResultMap" type="cn.edu.swust.qd.scms.model.entity.ScmsCompany">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="address" column="address" jdbcType="VARCHAR"/>
        <result property="telephone" column="telephone" jdbcType="VARCHAR"/>
        <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
        <result property="security" column="security" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="createUser" column="create_user" jdbcType="BIGINT"/>
        <result property="updateUser" column="update_user" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,code,name,
        address,telephone,parent_id,
        security,create_time,update_time,
        create_user,update_user
    </sql>
    <select id="getCompanyPage" resultType="cn.edu.swust.qd.scms.model.bo.CompanyBO">
        SELECT c.id,
               c.code,
               c.name,
               c.address,
               c.telephone,
               p.name AS parent,
               c.security,
               c.create_time,
               c.update_time,
               c.create_user,
               c.update_user
        FROM scms_company c
                 LEFT JOIN scms_company p ON c.parent_id = p.id AND c.parent_id != 0
        GROUP BY c.id;
    </select>
</mapper>
