<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.swust.qd.scms.mapper.ScmsBalanceMapper">

    <resultMap id="BaseResultMap" type="cn.edu.swust.qd.scms.model.entity.ScmsBalance">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="companyDesignId" column="company_design_id" jdbcType="BIGINT"/>
        <result property="companyResearchId" column="company_research_id" jdbcType="BIGINT"/>
        <result property="balanceTypeId" column="balance_type_id" jdbcType="BIGINT"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="load" column="load" jdbcType="VARCHAR"/>
        <result property="shapeSize" column="shape_size" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="security" column="security" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="createUser" column="create_user" jdbcType="BIGINT"/>
        <result property="updateUser" column="update_user" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,company_design_id,company_research_id,
        balance_type_id,code,name,
        load
        ,shape_size,remark,
        security,create_time,update_time,
        create_user,update_user
    </sql>
    <select id="getBalancePage" resultType="cn.edu.swust.qd.scms.model.bo.BalanceBO">
        SELECT b.id,
               c1.name AS company_design,
               c2.name AS company_research,
               bt.name AS balance_type,
               b.code,
               b.name,
               b.load,
               b.shape_size,
               b.remark,
               b.security,
               b.create_time,
               b.update_time,
               b.create_user,
               b.update_user
        FROM scms_balance b
                 LEFT JOIN scms_company c1 ON b.company_design_id = c1.id
                 LEFT JOIN scms_company c2 ON b.company_research_id = c2.id
                 LEFT JOIN scms_balance_type bt ON b.balance_type_id = bt.id
        GROUP BY b.id;
    </select>
</mapper>
